.profile {
  
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  width: 100%;
  box-shadow: 0 0 10px #c6cccced;
  border-radius: 10px;
}

.description {
  background-color: #f4f0ec;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 400px
    
}

.avatar {
 display: block;
 width: 200px;
 margin-top: 20px;
 border-radius: 5px;
}

.name {
font-size: 40px;
font-weight: 700;
color: black;
}

.tag {
color: rgb(71, 70, 70);  
font-size: 32px;
}

.location {
color: rgb(71, 70, 70);
font-size: 32px;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  padding: 0;
  width: 400px;
  background-color: #7e6f7449;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.stats>li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  min-width: 80px;
  padding: 7px 0;
}


.label {
 text-align: center;
 color: black;
 }


.value {
  text-align: center;
  font-weight: 700;
  color: black;
}
