.status {
  margin-right: 5px;
  font-size: 14px;
}

.isOffline { 
  color: red;
}

.isOnline {  
  color: green;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 10px #c6cccced;
  padding: 20px;
  border-radius: 4px;
}
.avatar {
  border-radius: 50%;
  width: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}